#section3 {
	margin-top: 40px;
	width: 100%;
	margin-bottom: 100px;
}

#section3-inner {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#section3-inner a {
	flex: 0 0 350px;
	border: 1px solid black;
	height: 450px; 
	margin-top: 40px;
	text-decoration: none;
	color: black;
	box-sizing: border-box;
}

#section3-inner a:hover {
	border: 1px solid #EF0056;
}

#section3 p{
	text-align: justify;
	margin: 10px;
}

#section3 img{
	width: 350px;
	border: none;
	margin: 0;
}