

nav .nav {
  position: relative;
  display: inline-block;
  height: 0px;
}

nav .nav.left {
  width: -webkit-calc(50% - 50px);
  width: -moz-calc(50% - 50px);
  width: calc(50% - 50px);
}

nav .nav.left ul {
  right: 0;
}

nav .nav.right {
  width: -webkit-calc(40% - 50px);
  width: -moz-calc(40% - 50px);
  width: calc(40% - 50px);
}

nav .nav.right ul {
  left: 0;
}


nav .nav ul {
  position: absolute;
  top: -80px;
  padding: 0;
  margin: 0 20px;
}

nav .nav ul li {
  cursor: pointer;
  display: inline-block;
  height: 65px;
  line-height: 85px;
  margin: 0 30px 0 0px;
  position: relative;
  font-size: 0.8125em;
  /* border-bottom: 3px solid #EF0056; */
  transition: all 0.5s;
  border-bottom: hidden;
}

nav .nav ul li:first-child {
  margin-left: 30px;
}

nav .nav ul li a:hover {
  color: #EF0056;
  /*border-bottom: 10px solid blue; */
}

nav .nav ul li:hover {

  border-bottom: 10px solid blue;
}

nav .nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

nav .nav ul li a {
  color: black;
  position: relative;
  display: inline-block;
}





nav .nav ul li ul {
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  left: 0;
  margin: 0;
  position: absolute;
  top: calc(100% + 3px + 20px);
  transition: all 0.3s;
  visibility: hidden;
  min-width: 200px;
  z-index: 9999;
  -webkit-backdrop-filter: blur(10px);
}

nav .nav ul li ul::before {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(left top, rgba(0, 0, 0, 0.1) 50%, transparent 50%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(0, 0, 0, 0.1) 50%, transparent 50%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(0, 0, 0, 0.1) 50%, transparent 50%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1) 50%, transparent 50%);
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(45deg) translate3d(0, -100%, 0);
  transform-origin: left top;
  width: 20px;
}

nav .nav ul li ul li {
  border: none;
  display: block;
  font-size: 1em;
  height: 70px;
  line-height: 70px;
  margin: 0;
  width: 100%;
}

nav .nav ul li ul li:first-child {
  margin-left: 0;
}

nav .nav ul li ul li:hover {
  background: rgba(0, 0, 0, 0.15);
  border: none;
}

nav .nav ul li ul li a {
  display: block;
  padding: 0 20px;
}


nav img {
  height: 100px;
  position: relative;
  top: 150%;
}
