:root{
  --main-bg-color : #FFFFFF;
}

body {
  background-color: var(--main-bg-color);
}
.logo{
    height: 80px;
    width: 210px;
    margin-top: 100px;
    margin-bottom: 40px;
}


nav {
        box-shadow: 0px 5px 5px -5px grey;

}

nav {
    margin-left: -8%;
    margin-right: -8%;
}

nav a {
    color: #121212;
    padding-right: 30px;

}

.navbar-nav .active {
  color: #ED2865 ;
}


.navbar-nav .nav-link:hover {
  color: #ED2865 ;
}


.container .tile-container {
  display: -webkit-inline-flex; /* Safari */
  display: inline-flex;
  flex-direction:         row;
}

.tile-container .item1 {
    background-color: black;
    flex-grow: 1;
}


.tile-container .item2 {
    background-color: blue;
    flex-grow: 5;
}


.card-md  {
    border-radius: 5%;
    height: auto;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
}

.card-border {
  margin-left: 30px;
  margin-right: 10px;
  border-color: var(--main-bg-color);
}