* {
	font-family: arial;
}

/*SECTION 1*/

#section1 {
    width: 100%;
    margin: 50px auto;
    font-size: 200%
}

#section1-inner {
    text-align: center
}

#section1 img {
	width: 600px;
	height: auto;
	margin: 0;
	border: none;
}

@media screen and (max-width: 600px) {
	#section1 img {
		max-width: 100%;
		min-width: 350px;
	}
}


/*NAVBAR*/

nav ul {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
	padding-bottom: 10px;
	    box-shadow: 0 8px 6px -6px #999;

}

nav li {
    flex: 1 0 100px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 20px 30px;
}

nav a:hover {
    color: #EF0056;
	font-weight: 700;
}


/*SECTION 3*/

#section3 {
    width: 100%;
    text-align: center;
}

img {
    margin-top: 80px;
    border: solid black 5px;
}